* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  ::-webkit-scrollbar {
    display: none;
  }
  font-family: "Hubballi", cursive;
}

//App.jsx file
.App {
  height: 100vh;
  width: 100vw;
  background-color: #606651;

  //Admin_Page
  .admin_Page_Column {
    width: 80%;
    border: 2px solid #b4ff33;
    margin: 20px auto;
    min-height: 600px;
    border-radius: 15px;
    background-color: #333333;
    .admin_Page_Header {
      width: 80%;
      display: flex;
      flex-direction: column;
      margin: 60px auto;
      color: #ffffff;
      font-size: 20px;
      .admin_Item_Border {
        border: 2px solid #b4ff33;
        width: fit-content;
        height: fit-content;
        .admin_Item_Content {
          display: flex;
          padding: 10px;
          width: 800px;

          .admin_Page_Name_Recipient {
            display: flex;
            flex-direction: column;
          }

          .admin_Page_Items {
            overflow: scroll;
            display: flex;

            .admin_Page_Items_Description {
              margin-left: 10px;
              display: flex;
              img {
                margin-right: 10px;
                width: 55px;
                height: 55px;
              }
              .admin_Page_Item_Title {
                display: flex;
                flex-direction: column;
              }
            }
          }
        }
      }
    }
  }

  //Order_Page
  .page_Border {
    padding: 10px;
    max-width: 861px;
    min-width: 50%;
    min-height: 588px;
    border-radius: 20px;
    margin: 20px auto;
    border: 2px solid #b4ff33;
    background-color: #333333;
    h2 {
      position: absolute;
      top: 120px;
      left: 60px;
      font-size: 26px;
      color: #ffffff;
      border-bottom: 3px solid #b4ff33;
    }

    .page_Form {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 300px;

      .text {
        position: relative;
        top: -20px;
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
      }
      .form {
        margin: 0 auto;
        width: 70%;
        display: flex;
        flex-direction: column;

        p {
          color: #ffffff;
          font-size: 20px;
          font-weight: bold;
        }
        input {
          padding: 10px;
          border: 2px solid #b4ff33;
          outline: none;
          background-color: #333333;
          color: #ffffff;
          margin-bottom: 10px;
          border-radius: 10px;
          // height: 24px;
        }
        button {
          border-radius: 35px;
          width: 200px;
          height: 40px;
          border: 1px solid #b4ff33;
          background-color: #333333;
          color: #ffffff;
          &:hover {
            background: darken(#333333, 5%);
          }
        }
      }
    }

    .page_Slider {
      width: 80%;
      height: 200px;
      display: flex;

      margin: 100px auto;
      border-left: 2px solid #b4ff33;
      border-right: 2px solid #b4ff33;
      overflow: scroll;

      .text_Nothing {
        display: flex;
        color: #ffffff;
        font-size: 26px;
        margin: 0 auto;
      }

      .page_Item_Column {
        justify-content: flex-end;

        display: flex;
        flex-direction: column;

        margin-right: 10px;
        .page_Order_Header {
          display: flex;
          flex-direction: column;
          align-items: center;

          .page_Order_description {
            display: flex;
            flex-direction: column;
            margin-bottom: 60px;
            color: #ffffff;
            span {
              font-size: 20px;
            }
          }
          img {
            width: 100px;
            height: 100px;
          }
        }
      }
    }
  }

  .cart_column {
    z-index: 1;
    position: absolute;
    margin: 0 auto;
    // border-top-left-radius: 35px;
    border: 1px solid #b4ff33;
    top: 60px;
    right: 0;
    min-width: 27.8%;
    min-height: 90%;
    max-width: fit-content;
    max-height: fit-content;
    background-color: #333333;

    .header_column {
      width: 80%;
      margin: 50px auto;
      .header {
        display: flex;
        justify-content: space-between;

        h2 {
          font-size: 26px;
          color: #ffffff;
        }
        img {
          width: 24px;
          height: 24px;
          opacity: 0.5;
          border-radius: 15px;

          border: 1px solid #333333;
          transition: opacity 0.15s ease-in-out, border 0.15s ease-in-out;
          &:hover {
            opacity: 1;
            border: 1px solid #ffffff;
          }
        }
      }
      .cart_Footer_Container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;

        button {
          border-radius: 35px;
          width: 200px;
          height: 40px;
          border: 1px solid #b4ff33;
          background-color: #333333;
          color: #ffffff;
          &:hover {
            background: darken(#333333, 5%);
          }
        }
      }
    }
    .cart_Main_Container {
      margin-top: 10px;
      border: 1px solid #b4ff33;
      height: 400px;
      border-top-left-radius: 35px;
      overflow: scroll;

      .cart_Text_absent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 100px auto;
        p {
          font-size: 20px;
          color: #ffffff;
          font-weight: bold;
        }
        button {
          margin-top: 50px;
          border-radius: 35px;
          width: 200px;
          height: 40px;
          border: 1px solid #b4ff33;
          background-color: #333333;
          color: #ffffff;
          &:hover {
            background: darken(#333333, 5%);
          }
        }
      }

      .cartItem_column {
        color: #ffffff;
        font-size: 20px;
        margin: 20px;
        .cartItem_header {
          .cartItem_Description {
            display: flex;
            justify-content: space-between;
            padding: 6px;
            border-top-left-radius: 35px;
            margin: 0 auto;
            border: 1px solid #b4ff33;
            width: fit-content;
            height: 50px;

            .cartItem_content {
              display: flex;
              min-width: 200px;

              .photo {
                img {
                  position: relative;
                  top: -10px;
                  width: 30px;
                  height: 55px;
                }
              }
              .cartItem_Text {
                margin-left: 10px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                span {
                  font-size: 18px;
                }
              }
            }
            img {
              position: relative;
              top: 6px;
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
  }
}

// Main_Page.jsx file
.main__row {
  display: flex;
  color: #ffffff;
  flex-direction: row;
  margin: 20px auto;
  justify-content: space-between;
  height: calc(100% - 100px);

  .main__firstContainer {
    border-radius: 20px;
    margin: 0 200px;
    background-color: #333333;
    width: 100%;
    border: 2px solid #b4ff33;
    padding: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;

    img {
      height: 170px;
      width: 170px;
    }

    .main__Coffee_Container {
      width: 95%;
      height: 400px;
      display: flex;
      flex-flow: row wrap;

      .cart_Opened {
        border-radius: 0px !important;
        border: 1px solid #b4ff33;
        position: absolute;
        background-color: #333333;
        top: 60px;
        left: 0% !important;
        width: 72% !important;
        height: 90%;
      }
      .main_Banner_Container {
        border-radius: 15px;
        border: 1px solid #b4ff33;
        position: absolute;
        background-color: #333333;
        top: 60px;
        left: 5%;
        width: 90%;
        min-height: 90%;
        height: fit-content;

        .header_column {
          display: flex;
          justify-content: space-between;
          width: 50%;
          margin: 70px auto;
          border-bottom: 2px solid #b4ff33;

          h2 {
            font-size: 26px;
          }
          img {
            position: relative;
            top: -10px;
            width: 24px;
            height: 24px;
            opacity: 0.5;
            border-radius: 15px;

            border: 1px solid #333333;
            transition: opacity 0.15s ease-in-out, border 0.15s ease-in-out;
            &:hover {
              opacity: 1;
              border: 1px solid #ffffff;
            }
          }
        }
        .main_Banner_Part {
          display: flex;
          margin-left: 100px;
          margin-right: 100px;
          overflow: scroll;
          padding-left: 10px;
          border-right: 2px solid #b4ff33;
          border-left: 2px solid #b4ff33;

          .main_Position_Coffee {
            margin: 20px auto;
            // width: fit-content;

            .header_Position_Coffee {
              display: flex;
              flex-direction: column;
              img {
                width: 150px;

                border-radius: 35px;
              }
              .span_text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .text {
                  margin-bottom: 20px;
                  display: flex;
                  flex-direction: column;
                }
                button {
                  width: 100px;
                  height: 35px;
                  border: 1px solid #b4ff33;
                  background-color: #333333;
                  box-sizing: border-box;
                  border-radius: 10px;
                  opacity: 0.7;
                  cursor: pointer;
                  transition: opacity 0.15s ease-in-out;

                  &:hover {
                    opacity: 1;
                  }
                  &:active {
                    background: darken(#333333, 5%);
                  }
                  span {
                    color: #ffffff;
                  }
                }
              }
            }
          }
        }
      }
      .main_Category_Container {
        width: fit-content;
        height: fit-content;

        transition: border 0.1s ease-in-out;
        &:hover {
          border-bottom: 3px solid #b4ff33;
        }
        .btn {
          margin: 10px;
          border-bottom: 2px solid #b4ff33;

          button {
            cursor: pointer;

            margin-bottom: 5px;
            background-color: #333333;
            box-shadow: 0px -2px #b4ff33;
            box-sizing: border-box;
            color: #ffffff;
            width: 120px;
            height: 40px;
          }
        }
      }
    }
    // Todo.jsx file
    .container_column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      .task__List_Border {
        width: 100%;
      }

      .tittle {
        display: flex;
        justify-content: space-between;
        width: 100%;

        button {
          box-sizing: border-box;
          outline: none;
          background-color: #333333;
          color: #ffffff;
        }
      }

      .input {
        display: flex;
        justify-content: space-between;

        button {
          height: fit-content;
          box-sizing: border-box;
          outline: none;
          background-color: #333333;
          color: #ffffff;
        }
        input {
          width: 70%;
          outline: none;
          border: 2px solid #b4ff33;
        }
      }
      .editInput {
        width: 100%;
        border-bottom: 1px solid #b4ff33;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        input {
          width: 70%;
          outline: none;
          border: 2px solid #b4ff33;
          margin-bottom: 10px;
        }
        button {
          height: fit-content;
          box-sizing: border-box;
          outline: none;
          background-color: #333333;
          color: #ffffff;
        }
      }
    }
  }

  // Task.jsx file
  .tasks_column {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #b4ff33;

    .done {
      text-decoration-line: line-through;
    }
    .unDone {
      text-decoration-line: none;
    }

    .task {
      padding: 2px;
    }
    .btns {
      button {
        height: fit-content;
        box-sizing: border-box;
        outline: none;
        background-color: #333333;
        color: #ffffff;
      }
    }
  }
}
.navBar__column {
  nav {
    display: flex;
    justify-content: flex-end;
    background-color: #333333;
    border-bottom: 3px solid #b4ff33;
    .nav_justify {
      display: flex;
      justify-content: space-between;
      width: 100%;

      img {
        margin-left: 20px;
        width: 70px;
        height: 55px;
      }
      .nav_Bar {
        display: flex;
      }
    }
    ul {
      display: flex;
      list-style-type: none;
      li {
        margin-right: 20px;
        padding: 20px;
        transition: all 0.25s ease-in-out;

        .btn {
          border-bottom: 2px solid #ffffff;

          button {
            height: fit-content;
            box-sizing: border-box;
            outline: none;
            background-color: #333333;
            border: none;
            color: #ffffff;

            transition: all 0.25s ease-in-out;

            &:hover {
              color: #b4ff33;
            }
          }
          transition: all 0.25s ease-in-out;

          &:hover {
            color: #b4ff33;
            border-bottom: 2px solid #b4ff33;
          }
        }
        &:hover {
          transform: translateY(+2px);
        }
        a {
          border-bottom: 2px solid #ffffff;
          text-decoration: none;
          color: white;
          cursor: pointer;

          transition: all 0.25s ease-in-out;

          &:hover {
            color: #b4ff33;
            border-bottom: 2px solid #b4ff33;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 801px) {
  .App {
    max-width: 100%;
    background-color: #ffffff;

    .admin_Page_Header {
      .admin_Item_Border {
        max-width: 100%;
        overflow: scroll;
        margin: 0 auto;
        margin-bottom: 20px;
        .admin_Item_Content {
          max-width: fit-content;
          margin-right: 10px;
        }
      }
    }
    .cart_column {
      min-width: 100% !important;
    }
    .main__row {
      display: flex;
      flex-direction: column;
      max-width: 100%;

      .main__firstContainer {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        .counter {
          .btns {
            button {
              height: 40px;
            }
          }
        }
        .input {
          height: 40px;
          input {
            height: 20px;
          }
        }
        .main__Coffee_Container {
          .main_Banner_Container {
            margin-top: 20px;
            .main_Banner_Part {
              margin-left: 20px;
              margin-right: 20px;
            }
          }
        }
        .container_column {
          .tittle {
            button {
              height: 40px;
            }
          }
          .input {
            height: 50px;

            button {
              height: 40px;
            }
            input {
              height: 30px;
            }
          }
          .task__List_Border {
            width: 100%;
            height: 250px;
            overflow: scroll;

            .btns {
              button {
                width: 20px;
                height: 30px;
              }
            }
          }
        }
      }
    }
  }
}
